<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.PluginEmpMapper">
    <insert id="addEmp">
        insert into tbl_employee(last_name, gender, email, emp_status)
        values (#{lastName}, #{gender}, #{email}, #{empStatus})
    </insert>

    <select id="listPage" resultType="com.code.bean.PluginEmp">
        select * from tbl_employee;
    </select>

    <!--oracle
    select标签定义调用存储过程
    statementType="CALLABLE" 表示调用存储过程
    -->
    <resultMap id="PageEmp" type="com.code.bean.PluginEmp">
        <id column="employee_id" property="id"/>
        <result column="last_name" property="lastName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
    </resultMap>
    <select id="getPageByProcedure" statementType="CALLABLE">
        {call hello_test(
            #{start,mode=IN,javaType=INTEGER},
            #{end,mode=IN,jdbcType=INTEGER},
            #{count,mode=OUT,jdbcType=INTEGER},
            #{emps,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=PageEmp}
        )}
    </select>
</mapper>